body
{
	background-image:url(https://cdn.pixabay.com/photo/2017/09/07/08/54/money-2724241__340.jpg);
	height: 90vh;
	background-size: cover;
	background-position: center;
}
.login
{
	width: 360 px;
	padding:10% 0 0;
	margin: auto;
}




.form
{
	 position:relative;
	 background:#ccffeb;
	 max-width: 360px;
	 margin: 0 auto 100px;
	 padding:45px;
	 text-align:center;
}




.form input
{

	background: #ffffff;
	width:100%;
	border:0;
	margin:0 0 15px;
	padding: 15px;
	box-sizzing:border-box;
	font-size:14px;
}
.button
{
	
	margin:0 0 10px;
	background:#4CAF50;
	padding:15px;
	
}
marquee{
font-size:30px;
}
